*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
}
.logo{
    float: left;
    margin-left: 50px;
}
.nav-icon{
    display: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}
.navbar a:hover{
    color: #1ed760;
    transition: all 0.3s ease;
}
.nav-items{
    display: inline;
    float: right;
    /* border: 1px solid pink; */
    padding-top: 10px;
}
.nav-items p{
    display: inline;
    margin-right: 40px;
    cursor: auto;
}
.toggle{
    display: none;
    z-index: 1;
}
.toggle .toggle-con{
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 23px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 4px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -4px);
}
/* navbar ends */

/* content area */
.content{
    background-color: #2d46b9;
    background-image: url('../images/bursts.svg');
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: 46% 4%;
    height: 980px;
    color: #1ed760;
    /* border: 1px solid red; */
    padding-top: 230px;
    text-align: center;
}
.content h1{
    font-size: 140px;
    line-height: 160px;
    font-weight: 800;
}
.everything{
    margin-left: 200px;
}
.content > .sub-heading{
    text-align: center;
    margin-top: 40px;
    padding-left: 0;
}
.getBtn{
    margin-top: 40px;
    padding: 15px 25px;
    border-radius: 25px;
    width: 220px;
    text-transform: uppercase;
    border: none;
    color: #2d46b9;
    background: #1ed760;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
.getBtn:hover {
    background: #fff;
    transition: all 0.3s ease;
}
/* content area */

/* footer area */
.footer{
    background-color: #000;
    height: 600px;
    /* width: 100vw; */
    display: block;
    overflow: hidden;
    padding: 70px 20px;
    color: #fff;
}
.footer-content{
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 1100px;
    padding-top: 30px;
}
.footer-bottom{
    width: 1100px;
    margin: 0 auto;
    display: block;
}
.footer-logo{
    float: left;
    width: 16%;
    /* border: 1px solid blue; */
    height: 100%;
    display: block;
}
.footer-logo .footer-icon{
    width: 16%;
    height: auto;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    /* width: 585px; */
}
.footer-lists{
    padding: 0 15px;
    margin: 0;
    width: 165px;
}
.icon-lists{
    margin-left: 165px;
    margin-right: 15px;
    padding-top: 20px;
    width: 220px;
}
.icon-lists > ul> li{
    display: inline-block;
    margin-right: 15px;
}
.icon-lists > ul> li> a{
    border-radius: 50%;
    background-color: #222326;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 54px;
    height: 54px;
    color: #fff;
    
}
.icon-lists > ul> li> a> i{
    font-size: 22px;
}
.icon-lists > ul> li> a:hover{
    color: #1ed760;
}
.footer-lists > h5{
    margin: 20px 0;
    text-transform: uppercase;
    color: #5e6063;
}
.footer-lists > a{
    padding: 3px 0 15px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
}
.footer-lists >a:hover{
    color: #1ed760;
}
.footer-lists a{
    color: #fff;
    display: block;
}
.country{
    text-align: right;
    display: block;
    margin-bottom: 5px;
}
.country> p{
    font-size: 14px;
    font-weight: normal;
    color: #5e6063;
}
.flag-icon{
    margin-left: 10px;
    font-size: 18px;
}
.bottom-list-item{
    display: inline;
    margin-right: 15px;
    font-size: 12px;
    color: #5e6063;
    text-transform: capitalize;
    cursor: pointer;
}
.bottom-list-item:hover{
    color: #1ed760;
}
.trademark{
    float: right;
    cursor: default;
}
/* footer area ends */


/* responsive media queries */
/* tablet screen size */
@media (max-width: 1100px){
    .navbar a{
        margin-right: 20px;
    }
    /* content styles */
    .content{
        background-image: url('../images/bursts-tablet.svg');
        background-repeat: no-repeat;
        background-size: 153%;
        background-position: right 40% center;
    }
    /* content styles ends */
}
/* tablet screen ends */

/* mobile screens */
@media (max-width: 960px) {
    body{
        overflow-x: hidden;
    }
    /* nav styles */
    .navbar{
        height: 60px;
    }
    .nav-items{
        /* display: none; */
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100vh;
        background-color: #000;
        width: 380px;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        margin: 7%;
        font-size: 24px;
        /* opacity: 0; */
    }
    .nav-active{
        transform: translateX(0%);
    }
    .nav-active > .premium, .nav-active > .support, .nav-active > .download {
        margin-left: 30px !important;
        transition: all ease .4s;
    }
    .nav-active > .signUp, .nav-active > .logIn{
        margin-left: 30px !important;
        transition: all ease .6s;
    }
    .nav-active > .nav-icon{
        margin-left: 30px !important;
        transition: all ease .8s;
    }
    .nav-items .signUp, .nav-items .logIn, .nav-icon{
        margin-left: 200px;
    }
    .nav-items .premium, .nav-items .support, .nav-items .download{
        font-size: 28px;
        font-weight: bold;
        margin-left: 200px;
    }
    .nav-icon{
        display: inline-block;
        margin-top: 80px;
    }
    .nav-icon h1{
        font-size: 18px;
    }
    .toggle{
        float: right;
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-left: 0;
    }
    .logo h1{
        font-size: 20px;
    }
    .navbar a {
        margin-right: 0;
    }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    /* nav styles ends */
    .newBg{
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* content styles */
    .content{
        background-image: url('../images/bursts-mobile.svg') ;
        background-repeat: no-repeat;
        background-size: 195%;
        background-position: top 25% center;
        height: 100vh;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .content h1{
        font-size: 48px;
        font-weight: 900;
        line-height: 60px;
    }
    .everything{
        display: block;
        margin-left: 0px;
    }
    .content > .sub-heading{
        margin-top: 24px;
    }
    .sub-heading p{
        font-size: 14px;
    }
    /* content styles ends */
}
/* responsive media queries ends */